@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.mcdfBanner{
    width: 80vw;
    height: auto;
    /* margin: 0 0 0 40px; */
    border-radius: 20px;
    margin: 30px 0 0 25px;
}

.fontIcon {
    margin-right: 5px;
}

.loginToggle {
    background-color: #536d48 !important;
    /* position: relative;
    top: 20px;
    left: 85vw; */
    border-radius: 50px !important;
    margin: 30px 6.7vw;
    float: right;
}

.dropdown-item {
    background-color: white;
}
.loginLink a {
    color: white;
}

.loginLink a:hover {
    color: white;
}

.navLinks {
    display: flex;
    font-family: 'Raleway';
    padding: 10px 0 0 0;
    justify-content: space-evenly;
}

.navLinkItem {
    color: rgb(75, 74, 74);
    font-size: 18px;
}

.donateBanner {
    font-family: 'Raleway';
    background-color: #536d48;
    margin-top: 20px;
    padding: 35px 0 20px 0;
}
/* 
.donateBanner p {
    float: left;
} */

.required:after {
    content:" *";
    color: red;
}

.links {
    margin-top: 20px;
}

.signUpLink {
    padding-top: 20px;
}
.donateBanner button {
    background-color: #e7fafe;
    border-radius: 10px;
    color: black;
    font-family: 'Raleway';
    padding: 30px 50px;
    margin: -15px 0 0 -40px;
}

.donateBanner p {
    font-size: 30px;
    color: white;
    padding-left: 400px;
}

.userAccountContainer {
    height: 97.4vh;
}

.userAccountMenu {
    background-color: rgb(238, 238, 238);
    height: 97.4vh;
}